body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	height: 100%;
}

body.normal {
	font-size: 100%;
}

body.larger {
	font-size: 120%;
}

body.largest {
	font-size: 150%;
}

nav {
	padding: 0.5em 0.3em 0.3em;
	height: 1.6em;
}

button {
	font-size: 0.95em;
}

#help-button {
	margin-left: 1em;
}

#run-label {
	margin-left: 0.15em;
	font-size: 0.75em;
}

main {
	display: flex;
	justify-content: stretch;
	height: calc(96% - 1.4em);
}

.textbox-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 1;
	padding: 0.5em;
}

.textbox-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 1.5;
}

.textbox-label {
	font-size: 0.95em;
}

#run-as-async-label {
	font-size: 0.8em;
}

label {
	flex-grow: 0;
}

input[type=checkbox] {
	margin-top: 0;
	margin-bottom: 0;
}

iframe {
	border: 1px solid gray;
}

iframe, textarea {
	flex-grow: 1;
	margin: 0.3em 0;
	font-family: Monaco, Consolas, Inconsolata, monospace;
	resize: horizontal;
}

textarea.normal {
	font-size: 12px;
}

textarea.larger {
	font-size: 18px;
}

textarea.largest {
	font-size: 24px;
}

textarea.error {
	color: red;
}

.editor-code {
	flex: 1;
}
